/* Box Model Hack */
* {
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/
body{
  background-color: #A0B3BA;
}
.title{
  color: #2E2C2F;
  text-align: center;
}
.page{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 10px;
}
.woPicture{
  grid-column: 1;
  grid-row: 1 / 4;
  border: 1rem solid #2E2C2F; 
  padding: 2rem;
  margin-left: 1rem;
  border-radius: 5%;
}
.woButtons{
  grid-column: 2;
  grid-row: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 15rem;
}
.button{
  background-color: #F3E8EE;
}
.button:hover{
  background-color: #729B79;
}
#button1{
 height: 3rem;
 width: 15rem;
 grid-row: 1;
 border-radius: 7%;
}
#button2{
 height: 3rem;
 grid-row: 2;
 width: 15rem;
 border-radius: 7%;
}
#button3{
 height: 3rem;
 grid-row: 3;
 width: 15rem;
 border-radius: 7%;
}
.explain{
  background-color: #bacdb0;
  grid-column: 2;
  grid-row: 2; 
  padding: 3rem;
  border-radius: 5%;
  margin: 2rem;
}