/* Box Model Hack */
* {
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/

body{
  background-color: #A0B3BA;
}
.top{
  background-color: #729B79;
  align-items: center;
  text-align: center;
}
.title{
  color: #2E2C2F;
}
.page{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 45% 45%;
  gap: 10px;
}
#woWindow{
  max-width: 100%;
}
.woPicture{
  grid-column: 1;
  grid-row: 1 / 4;
  border: 1rem solid #2E2C2F; 
  padding: 2rem;
  margin-left: 1rem;
  border-radius: 5%;
}
.woButtons{
  grid-column: 2;
  grid-row: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 15rem;
}
.button{
  height: 3rem;
  width: 15rem;
  border-radius: 7%;
  background-color: #F3E8EE;
}
.button:hover{
  background-color: #729B79;
}
.explain{
  background-color: #bacdb0;
  grid-column: 2;
  grid-row: 3; 
  padding: 3rem;
  border-radius: 5%;
  margin: 2rem;
}

/*Workout Builder*/
.buildLeft{
  grid-column: 1;
  grid-row: 1 / 4;
}
.buildRight{
  grid-column: 2;
  grid-row: 1 / 4;
}